<div class="ui five item menu">
  <a class="active item">Country</a>
  <a class="item">State</a>
  <a class="item">Track</a>
  <a class="item">District</a>
  <a class="item">County</a>
</div>
<div class="ui five item menu">
	<a class="race item" data-type="black">African American</a>
	<a class="race item" data-type="white">Caucasian</a>
	<a class="race item" data-type="indian">Native American</a>
	<a class="race item" data-type="asian">Asian</a>
	<a class="race item" data-type="mixed">Mixed</a>
</div>

<div id="map" style="height:90vh"></div>
{{addLocalJS "/js/script.js"}}