<div class="ui five item menu">
  <a class="year item initialYear" data-type="1970">1970</a>
  <a class="year item" data-type="1980">1980</a>
  <a class="year item" data-type="1990">1990</a>
  <a class="year item" data-type="2000">2000</a>
  <a class="year item" data-type="2010">2010</a>
</div>
<div class="ui five item menu">
	<a class="race item initialClass" data-type="white">Caucasian</a>
	<a class="race item" data-type="black">African American</a>
	<a class="race item" data-type="indian">Native American</a>
	<a class="race item" data-type="asian">Asian</a>
	<a class="race item" data-type="mixed">Mixed</a>
</div>

<div id="map" style="height:90vh"></div>
{{addLocalJS "/js/script.js"}}