<div class="ui five item menu">
  <a class="active item">Country</a>
  <a class="item">State</a>
  <a class="item">Track</a>
  <a class="item">District</a>
  <a class="item">County</a>
</div>
<div class="ui three item menu">
	<a class="item">African American</a>
	<a class="active item">Caucasian</a>
	<a class="item">Asian American</a>
</div>
<div id="map" style="height:90vh"></div>
{{addLocalJS "/js/script.js"}}