<div class="ui five item menu">
  <a class="item">Country</a>
  <a class="active item">State</a>
  <a class="item">Track</a>
  <a class="item">District</a>
  <a class="item">County</a>
</div>
<div id="map" style="height:90vh"></div>
{{addLocalJS "/js/script.js"}}